<div class="form-wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-signin') do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, class: 'col-md-12 control-label'%>
      <div class="col-md-12">
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-md-12 control-label' do %>
        Password <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <% end %>
      <div class="col-md-12">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-md-12 control-label' %>
      <div class="col-md-12">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-12 actions">
      <%= f.submit 'Sign up', class: 'btn btn-default btn-primary'  %>
    </div>
  <% end %>

  <div class="col-md-12 links">
    <%= render 'devise/shared/links' %>
  </div>
</div>

