.navbar-nav .nav-item span {
  display: block;
  padding-bottom: 0.425rem;
  padding-top: 0.425rem;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

footer {
  margin-top: 50px;
}

.form-wrapper {
  padding: 25%;
}

.actions {
  margin: 15px 0;
}
