<!DOCTYPE html>
<html>
<head>
  <title>ACChat</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="navbar navbar-inverse bg-primary">
    <%= link_to 'ACChat', root_path, class: 'navbar-brand' %>

    <% if user_signed_in? %>
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <span class="text-muted">Logged in as <strong><%= current_user.name %></strong></span>
        </li>
        <li class="nav-item active">
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </nav>



  <div class="container">
    <% flash.each do |key, value| %>
      <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
